@import "bootstrap";
 
body {
  background-color: black;
  color: white;
}

// Home Page

.home-para {
  margin: auto;
  max-width: 50%;
  padding: 10px;
  flex: 1;
  text-align: left;
  background-color: transparent;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  width: 100%
}

.home-img {
 flex: 1;
 max-width: 50%;
 margin-left: 10%;
 width: 100%;
 height: auto;
}

.footer {
  background-color:#E72076;
  color: white;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  position: fixed;
  bottom: 0;
}
.nav-button {
  background-color: #E72076;
  color: white; 
  margin-top: 15px;
}

.view-button {
  margin-left: 270px;
  background-color: #E72076;
  color: white; 
  margin-top: 15px;
}

// Index page styling

.index-post-head {
text-align: center;
color: white;
}
.post-index-card {
  padding: 15px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 15px;
  height: 200px;
  width: 300px; 
}

.card-group {
  display:inline-flex;
  margin-top: 20px;
  margin-left: 10px;
}

.view-post-button {
  background-color: lightgray;
  color: white;
  border: none;
  bottom: 10%;
  width: 85%;
  position: absolute;
  bottom: 10;
  display: flex;
  justify-content: center;
 }
 
.card-title {
  color:white;
}

// Not found Page styling

.notfound{
  height: 90%;
  width: 90%;
  padding-left: 300px;
  padding-right: 200px;
  align-content: center;
  margin-top: 20px;
}  


// Show Page styling

.post-info {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.postshow-title {
  color: #6EAE3C;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  
}

.postshow-cat {
  color: #C6A800;
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}

.user-name{ 
}

.postshow-content {
  color: black;
  background-color: white;
  background-size: contain;
  width: 80%;
  text-align:justify;
  padding: 20px;
  display: flex;
  align-content: center;
}

.comment-button{
  background-color: rgb(177, 175, 175);
  margin-top: 30px;
  margin-bottom: 40px;
}

.comment-heading {
  margin-bottom: 15px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 10px;
  
}

.comments-cards {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.comment-cardgroup {
  flex: 0 0 100%;
}

// about us page styling

.about-heading {
  text-align: center;
}

.about-matt {
  border: 20px solid black;
  padding: 50px;
  background-color: #C38612;
  color: white;
  align-items: center;
  height: 80% ;
  width: 80%;
  margin: auto;
}

.about-natally {
  border: 20px solid black;
  padding: 50px;
  background-color: #E72076;
  height: 80% ;
  width: 80%;
  margin: auto;
}

.about-romeo {
  border: 20px solid black;
  padding: 50px;
  background-color: #6EAE3C;
  height: 80% ;
  width: 80%;
  margin: auto;
}

.about-awhit {
  border: 20px solid black;
  padding: 50px;
  background-color: #0099D6;
  height: 80% ;
  width: 80%;
  margin: auto;
}

// Create page styling

.create-form {
  background-color:white;
  color:black;
  width: 80%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
  justify-content: center;
  border: none;
  border-radius: 10px;
}

.submit-button {
  background-color:#0099D6;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 30%;
}

.create-heading {
  text-align: center;
  margin: 20px;
}

// My post page styling

.mypost-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mypost-card{
  padding: 15px;
  margin: 25px;
  height: 200px;
  width: 300px  
}

.card-body{
 padding-top: 0%;

}

.mypost-cardtitle {
  text-align: left;
  margin-top: none;
}

.post-link {
  color: whitesmoke;
  text-decoration: none;
}
.delete-button {
  background-color: lightgray;
  background-size:cover;
  border: none;
  bottom: 10;
  margin-left: 120px;
  position: absolute;
  bottom: 5%;
}

.edit-button {
  background-color: lightgray;
  background-size:cover;
  border: none;
  bottom: 10;
  justify-content: left;
  position: absolute;
  bottom: 5%;
}

.mypost-heading {
  margin: 20px;
}

.mypost-subheading {
  color: white;
}


.editpost-form {
  background-color:white;
  color:black;
  width: 80%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
  justify-content: center;
  border: none;
  border-radius: 10px;
}

// Update page styling

.submitupdate-button {
  background-color:#0099D6;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 25%;
}

.editpost-heading {
  margin: 20px;
  text-align: center;
}

