@import "bootstrap";
 
body {
  background-color: black;
  color: white;
}

.footer {
    background-color:#E72076;
    color: white;
    height: 1.5rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    position: fixed;
    bottom: 0;
  }
.nav-button {
  background-color: #E72076;
  color: white

}  

.view-post-button {
  background-color: #0099D6;
  color: white
}
.post-text {
  color:  #0099D6;
}
.card-title {
  color: #0099D6;
}
.notfound{
  height: 85%;
  width:85%;
  display: flex;
  padding-left: 350px;
  padding-right: 200px;
  

}  